# Build folders
bin/
obj/

# User-specific files
*.user
*.suo

# VS Code
.vscode/

# Visual Studio
.vs/

# Rider
.idea/

# Logs
*.log

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

*.db
*.db-shm
*.db-wal